/*animations */
.title-card {
  background-color: mediumpurple;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.fears-box {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
}

@-webkit-keyframes holder-pulse {
  0% {
    box-shadow: 0 0 0 0 #ccccff;
  }
  100% {
    box-shadow: 0 0 1em 0.1em #ccccff;
  }
}

@keyframes holder-pulse {
  0% {
    box-shadow: 0 0 0 0 #ccccff;
  }
  100% {
    box-shadow: 0 0 1em 0.1em #ccccff;
  }
}
.holder {
  cursor: pointer;
  background-color: indigo;
  margin: 1em 0 1em 0;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 50%;
  overflow-wrap: break-word;
  display: relative;
}

.holder:active {
  box-shadow: 0 0 1em 0.1em #ccccff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input-edit {
  display: none;
}

.fear-text {
  display: inline;
  text-align: center;
}

.actions-holder {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row no-wrap;
      flex-flow: row no-wrap;
  padding: 0.2em;
  position: relative;
  top: 50%;
}

.actions-holder:nth-child(1) {
  margin-left: 0;
}

.actions-holder * {
  margin-left: 0.5em;
}

.actions-holder *:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.fear-bar {
  text-align: center;
  width: 50%;
}

.show {
  display: "inline";
}

.hide {
  display: none;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
